exportPattern("^[[:alpha:]]+")
import("RANN")
import("NISTunits")
import("pracma")

importFrom("stats", "approxfun", "integrate", "runif", "aggregate")
importFrom("utils", "data")

#Rcpp
useDynLib(celestial, .registration=TRUE)
